/* .App {
  text-align: center;
} */

.green-button {
  margin-right: 20px;
  width: 205px;
  height: 60px;
  border-radius: 8px;
  padding: 18px 40px;
  cursor: pointer;
}

.ndd-box {
  text-align: center;
}

.vas-box {
  text-align: center;
}

.home {
  text-align: center;
}

.form-box {
  margin-top: 30px;
}

.labeltext {
  display: block; /* Ensure each label is on a new line */
}

.form-field {
  display: flex;
  flex-direction: column; /* Arrange each form field vertically */
}

.inputbox {
  width: 360px;
  height: 10px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #D0D5DD;
  margin-bottom: 24px;
  margin-top: 8px;
}

.submitbtn {
  width: 137px;
  height: 50px;
  border-radius: 8px;
  padding: 0px 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.vasbtns {
  margin-top: 20px;
}

.vasbtn {
  width: 157px;
  height: 50px;
  border-radius: 8px;
  padding: 0px 20px;
  cursor: pointer;
  text-align: center;
}